<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<th>userID</th>
		<th>password</th>
		<th>사용자명</th>
		<th>등록일자</th>
		<th>나이</th>
	</tr>
	<% list.forEach(function(item){ %>
		<tr>
			<td>
			<a href="/update/<%- item._id %>"><%- item.userid %></a>
			</td>
			<td><%- item.password %></td>
			<td><%- item.username %></td>
			<td><%- item.date %></td>
			<td><%- item.age %></td>
		</tr>	
	<% }) %>
</table>
</body>
</html>